.app-header {
    padding-block: 8px;
    position: sticky;
    top: 0px;
    top: 0;
    width: 100%;
    transition: 0.6s;
    z-index: 10;

    &.scrolled {
        background-color: var(--clr-header);

        .main-header {
            padding-inline: 60px;
        }
    }

    .main-header {
        padding-inline: 25px;
        justify-content: space-between;
        transition: 0.6s;
    }

    .btn-resume {
        height: fit-content;
        background-color: transparent;
        border: 1px solid var(--clr-white);
        transition: 0.3s ease-in-out;
        padding: 9px;

        &:hover {
            background-color: var(--clr-purple);
            border: 1px solid transparent;
            scale: 1.15;
        }
    }




    .logo-container {
        @keyframes arrow-jump {
            0% {
                translate: 0 -5px
            }
            50% {
                translate: 0 5px
            }
            100% {
                translate: 0 -5px
            }
        }

        .logo {
            display: flex;
            width: 90px;
            gap: 5px;
            align-items: center;

            svg {
                width: 20px;
                height: 20px;
                fill: var(--clr-white);
                transition: 0.3s;
                animation: arrow-jump 0.6s infinite;
                display: none;

                &.scrolled {
                    display: flex;
                }
            }

            img {
                max-width: 70px;
            }

            &:hover {
                svg {
                    
                    fill: var(--clr-purple);
                }
            }
        }
    }

    nav {
        cursor: pointer;

        a {
            overflow: hidden;
            padding-inline: 10px;

        }

        span {
            padding: 8px;
            display: flex;
            color: var(--clr-white);
            position: relative;
            transition: 0.2s ease-in-out;


            .box {
                position: absolute;
                left: 0;
                top: 8px;
                background-color: var(--clr-purple);
                width: 100%;
                height: 22px;
                z-index: -1;
                transition: 0.4s;
                translate: -100px;
                border-top-right-radius: 0.3em;
                border-bottom-right-radius: 0.3em;
                // border-left: 2px solid var(--clr-white);
            }

            &:hover {
                // color: var(--clr-black);
                scale: 1.2;

                .box {
                    translate: 0px;
                }
            }
        }
    }
}