.contact {
    background-color: var(--clr-purple);
    padding-block: 80px;
    
    .container {
        .small-header {
            padding-inline-end: 70px;
        }

        h2 {
            font-size: 33px;
            padding-inline-start: 50px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}