* {
  box-sizing: border-box;
}

html {
  font-family: inter-light;
  font-size: 15px;
  color: var(--clr-white);
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-black);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 150%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

canvas {
  min-height: 400px;
  width: 50%;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 30px;
  font-family: jakarta;
}

body::-webkit-scrollbar {
  width: 3px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--clr-gray);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-white);    /* color of the scroll thumb */
  border-radius: 2em;       /* roundness of the scroll thumb */
}
